@media screen and (min-width: 1290px) {
  .container {
    max-width: 1290px;
  }

  /*-----HEADER-----*/

  .header {
    position: absolute;
    width: 100%;
  }

  .header-container {
    max-width: 1720px;
  }

  .header-logo {
    padding: 25px 0;
  }

  .header-icon {
    width: 108px;
    height: 47px;
  }

  .header-icon:hover {
    fill: #ffc978;
  }

  .header-btn {
    display: none;
  }

  .header-list {
    display: flex;
    gap: 35px;
    margin-left: 182px;
  }

  .header-list-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    text-align: right;
    color: #abaeb7;
  }

  .header-list-link:hover,
  .header-list-link:focus {
    color: #ffc978;
  }

  .header-tel-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 133px;
    height: 49px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin-left: auto;
  }

  /*-----HERO-----*/

  .hero {
    background-image: url(../images/hero-desktop.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    max-width: 100%;
    height: 800px;
    margin: 0 auto;
  }

  .services {
    padding: 140px 0;
  }

  .services-container {
    position: relative;
  }

  .services-text {
    text-align: center;
  }

  .services-title {
    font-size: 60px;
    margin: 0;
    position: absolute;
    top: 34px;
    left: 415px;
  }

  .swiper {
    margin-top: 13px;
  }

  .swiper-wrapper {
    gap: 30px;
  }

  .swiper-container-top {
    margin-top: 130px;
  }

  .services-item-img {
    width: 300px;
    height: 500px;
  }
}
