<section class="about">
  <div class="about-container container">
    <h2 class="about-title">About Us</h2>
    <p class="about-prg">
      As development continues, engineers may visit building destinations to
      guarantee that temporary workers pursue the plan, keep to the timetable,
      utilize the predefined materials, and meet work-quality models.
    </p>
    <div class="about-container-top">
      <!-- <img
        class="about-top-img"
        srcset="./images/about/about-1.jpg 1x, ./images/about/about-1-2x.jpg 2x"
        src="./images/about/about-1.jpg"
        alt="About"
      />
      <img
        class="about-top-img"
        srcset="./images/about/about-2.jpg 1x, ./images/about/about-2-2x.jpg 2x"
        src="./images/about/about-2.jpg"
        alt="About"
      /> -->
    </div>
    <div class="about-container-bottom">
      <p class="about-bottom-prg">85<span>%</span></p>
      <p class="about-bottom-text">Satisfied Clients</p>
    </div>
    <!-- <img
      class="about-img"
      srcset="./images/about/about-3.jpg 1x, ./images/about/about-3-2x.jpg 2x"
      src="./images/about/about-3.jpg"
      alt=""
    /> -->
    <p class="about-text-design">Design</p>
  </div>
</section>
