<section class="section">
  <div class="container avaibility-container">
    <div class="avaibility-wrap">
      <div>
        <p class="avaibility-prg">OUR PROJECT</p>
        <h2 class="avaibility-title">Check Availability</h2>
      </div>
      <div class="avaibility-wrap-one">
        <p class="avaibility-text">
          The unique architect with ideas from outside the world. Where design
          and science meet. With people’s comfort in mind
        </p>
        <div class="avaibility-line"></div>
      </div>
    </div>
    <div class="avaibility-wrap-two">
      <div class="avaibility-wrap-tabl">
        <table class="avaibility-table">
          <tr class="tabl-current">
            <td class="avaibility-tabl-title">Residence</td>
            <td class="avaibility-tabl-title">Bed/Bath</td>
            <td class="avaibility-tabl-title">SQ. FT.</td>
            <td class="avaibility-tabl-title">Sale Price</td>
            <td class="avaibility-tabl-title">Rent Price</td>
            <td class="avaibility-tabl-title">Floor Plan</td>
          </tr>
          <tr class="tabl-current">
            <td class="avaibility-residence">LUX APARTMENT</td>
            <td class="avaibility-tabl-other">3/2</td>
            <td class="avaibility-tabl-other">110</td>
            <td class="avaibility-tabl-other">$350,000</td>
            <td class="avaibility-tabl-other">$2,500</td>
            <td class="avaibility-tabl-view">VIEW NOW</td>
          </tr>
          <tr class="tabl-current">
            <td class="avaibility-residence">GREEN VILLA</td>
            <td class="avaibility-tabl-other">3/3</td>
            <td class="avaibility-tabl-other">1120</td>
            <td class="avaibility-tabl-other">$194,000</td>
            <td class="avaibility-tabl-other">$3,500</td>
            <td class="avaibility-tabl-view">VIEW NOW</td>
          </tr>
          <tr class="tabl-current">
            <td class="avaibility-residence">PENTHOUSE</td>
            <td class="avaibility-tabl-other">3/3</td>
            <td class="avaibility-tabl-other">320</td>
            <td class="avaibility-tabl-other">$240,000</td>
            <td class="avaibility-tabl-other">$2,500</td>
            <td class="avaibility-tabl-view">VIEW NOW</td>
          </tr>
          <tr class="tabl-current">
            <td class="avaibility-residence">SPA LUXURY</td>
            <td class="avaibility-tabl-other">3/3</td>
            <td class="avaibility-tabl-other">520</td>
            <td class="avaibility-tabl-other">$520,000</td>
            <td class="avaibility-tabl-other">$9,000</td>
            <td class="avaibility-tabl-view">VIEW NOW</td>
          </tr>
          <tr class="tabl-current">
            <td class="avaibility-residence">DUPLEX 13A</td>
            <td class="avaibility-tabl-other">3/3</td>
            <td class="avaibility-tabl-other">50</td>
            <td class="avaibility-tabl-other">$150,000</td>
            <td class="avaibility-tabl-other">$1,900</td>
            <td class="avaibility-tabl-view">VIEW NOW</td>
          </tr>
          <tr class="tabl-current">
            <td class="avaibility-residence">STUDIO 8A</td>
            <td class="avaibility-tabl-other">3/3</td>
            <td class="avaibility-tabl-other">99</td>
            <td class="avaibility-tabl-other">$50,000</td>
            <td class="avaibility-tabl-other">$900</td>
            <td class="avaibility-tabl-view">VIEW NOW</td>
          </tr>
          <tr>
            <td class="avaibility-residence">SIMPLEX 12A8</td>
            <td class="avaibility-tabl-other">3/3</td>
            <td class="avaibility-tabl-other">100</td>
            <td class="avaibility-tabl-other">$120,000</td>
            <td class="avaibility-tabl-other">$1,000</td>
            <td class="avaibility-tabl-view">VIEW NOW</td>
          </tr>
        </table>
      </div>
      <ul>
        <li class="avaibility-item">
          <p>Residence</p>
          <p>Bed/Bath</p>
          <p>SQ. FT.</p>
          <p>Sale Price</p>
          <p>Rent Price</p>
          <p>Floor Plan</p>
        </li>
        <li class="avaibility-item">
          <p>LUX APARTMENT</p>
          <p>3/2</p>
          <p>110</p>
          <p>$350,000</p>
          <p>$2,500</p>
          <p>VIEW NOW</p>
        </li>
        <li class="avaibility-item">
          <p>GREEN VILLA</p>
          <p>3/3</p>
          <p>1120</p>
          <p>$194,000</p>
          <p>$3,500</p>
          <p>VIEW NOW</p>
        </li>
        <li class="avaibility-item">
          <p>PENTHOUSE</p>
          <p>3/3</p>
          <p>320</p>
          <p>$240,000</p>
          <p>$2,500</p>
          <p>VIEW NOW</p>
        </li>
        <li class="avaibility-item">
          <p>SPA LUXURY</p>
          <p>3/3</p>
          <p>520</p>
          <p>$520,000</p>
          <p>$9,000</p>
          <p>VIEW NOW</p>
        </li>
        <li class="avaibility-item">
          <p>DUPLEX 13A</p>
          <p>3/3</p>
          <p>50</p>
          <p>$150,000</p>
          <p>$1,900</p>
          <p>VIEW NOW</p>
        </li>
        <li class="avaibility-item">
          <p>STUDIO 8A</p>
          <p>3/3</p>
          <p>99</p>
          <p>$50,000</p>
          <p>$900</p>
          <p>VIEW NOW</p>
        </li>
        <li class="avaibility-item">
          <p>SIMPLEX 12A8</p>
          <p>3/3</p>
          <p>100</p>
          <p>$120,000</p>
          <p>$1,000</p>
          <p>VIEW NOW</p>
        </li>
      </ul>
      <img
        class="avaibility-img"
        srcset="
          ./img/avaibility/avaibility-1.jpg    1x,
          ./img/avaibility/avaibility-1-2x.jpg 2x
        "
        src="./img/avaibility/avaibility-1.jpg"
        alt="avaibility"
      />
    </div>
  </div>
</section>
