<section class="section" id="projects">
  <div class="container">
    <h3 class="projects-text">OUR PROJECT</h3>
    <h2 class="projects-title">Our Latest Projects</h2>
    <ul class="projects-list">
      <li class="projects-list-item">
        <a class="projects-item-link carent" href="./index.html">All</a>
      </li>
      <li class="projects-list-item">
        <a class="projects-item-link" href="./index.html">Architecture</a>
      </li>
      <li class="projects-list-item">
        <a class="projects-item-link" href="./index.html">Construction</a>
      </li>
      <li class="projects-list-item">
        <a class="projects-item-link" href="./index.html">Interior Design</a>
      </li>
    </ul>
    <div class="projects-container-img">
      <div class="projects-container-left">
        <img
          srcset="
            ./img/projects/projects-1.jpg    1x,
            ./img/projects/projects-1-2x.jpg 2x
          "
          src="./img/projects/projects-1.jpg"
          alt=""
        />
        <img
          srcset="
            ./img/projects/projects-2.jpg    1x,
            ./img/projects/projects-2-2x.jpg 2x
          "
          src="./img/projects/projects-2.jpg"
          alt=""
        />
      </div>
      <div class="projects-container-right">
        <img
          srcset="
            ./img/projects/projects-3.jpg    1x,
            ./img/projects/projects-3-2x.jpg 2x
          "
          src="./img/projects/projects-3.jpg"
          alt=""
        />
        <img
          srcset="
            ./img/projects/projects-4.jpg    1x,
            ./img/projects/projects-4-2x.jpg 2x
          "
          src="./img/projects/projects-4.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
