<section class="services">
  <div class="container services-container">
    <h3 class="services-text">TOP SERVICES</h3>
    <h2 class="services-title">Our Specializations</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="width: auto">
          <a href="./index.html">
            <!-- <img
              class="services-item-img"
              src="./images/services/services-1.jpg"
              width="320px"
              height="412px"
              alt=""
            /> -->
            <div class="services-item-container">
              <h3 class="services-item-title">Floor plan</h3>
              <p class="services-item-text">
                Tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </a>
        </div>
        <div class="swiper-slide swiper-container-top" style="width: auto">
          <a href="./index.html">
            <!-- <img
              class="services-item-img"
              src="./images/services/services-2.jpg"
              width="320px"
              height="412px"
              alt=""
            /> -->
            <div class="services-item-container">
              <h3 class="services-item-title">Interior Design</h3>
              <p class="services-item-text">
                Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.
              </p>
            </div>
          </a>
        </div>
        <div class="swiper-slide swiper-container-top" style="width: auto">
          <a href="./index.html">
            <!-- <img
              class="services-item-img"
              src="./images/services/services-3.jpg"
              width="320px"
              height="412px"
              alt=""
            /> -->
            <div class="services-item-container">
              <h3 class="services-item-title">Architecture Design</h3>
              <p class="services-item-text">
                Tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </a>
        </div>
        <div class="swiper-slide" style="width: auto">
          <a href="./index.html">
            <!-- <img
              class="services-item-img"
              src="./images/services/services-4.jpg"
              width="320px"
              height="412px"
              alt=""
            /> -->
            <div class="services-item-container">
              <h3 class="services-item-title">Construction</h3>
              <p class="services-item-text">
                Tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
