.header {
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 50px 0 50px 0;
}

.header-icon {
  fill: #fff;
}

.header-icon:active,
.header-icon:focus {
  fill: #ffc978;
}

.header-btn {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.header-list {
  display: none;
}

.header-tel-link {
  display: none;
}
